// variables 

$primiary-color:#6db120;
$secondary-color:rgb(153, 122, 122);
$tertiary-color:rgb(94, 91, 91);
$box-shadow:rgb(39, 38, 38);
$pure-white:#fff;
// mixins

@mixin position($position, $top, $right, $bottom, $left){
    position: $position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@mixin styleFlex($display, $flex-diretion, $justify-content, $align-items){
    display: $display;
    flex-direction: $flex-diretion;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin style($font-family, $font-size, $border, $border-radius, $padding, $box-shadow){
    font-family: $font-family;
    font-size: $font-size;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    box-shadow: $box-shadow;
}