<div class="list" id="list" >
    <div class="list__front" #list >
        <h1 class="list__front--heading">{{name}}</h1>
        <div class="list__settings">
            <img class="list__settings--bin" (click)="deleteList();sendList()" src="./assets/images/bin.png">
            <img class="list__settings--sort" #toggleButton (click)="toggleMenu($event)" src="./assets//images/equalizer.png">
            <app-dropdown *ngIf="dropdownVisible"></app-dropdown>
        </div>
    </div>
    <app-main-lists-list-addItems (submitValue)="changeSubmitValue($event)" ></app-main-lists-list-addItems>
    <app-main-lists-list-items></app-main-lists-list-items>
</div>