<div class="main-lists">
    <div class="lists" id="listsDiv" *ngIf="name; else lackOfLists" >
       <app-main-lists-list (listValueChange)="updateListsValue($event)" [lists]="lists" [modalComponent]="modalComponent"  [name]="name" ></app-main-lists-list>
    </div>
    <ng-template #lackOfLists>
        <div class="lack">
            <img class="lack__image" src="./assets/images/asset.png"/>
            <p class="lack__text">Create your first list. Make your shopping faster and more convenient.</p>
            <app-button (click)="openingModal()" [label]="'Create a list'"></app-button>
        </div>
    </ng-template>
</div>

